[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
ghostodds = "FU64EotiwqACVJ9hyhH6XA9iiqQKmWjmPTUmSF1i3ar9"

[programs.localnet]
ghostodds = "FU64EotiwqACVJ9hyhH6XA9iiqQKmWjmPTUmSF1i3ar9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
